@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-body {
  font-family: "DotGothic16";
}
.Toastify__toast {
  border: solid 3px #fff;
}

body {
  color: #fff;
  background-color: #000;
}

.nes-list.is-disc li::before {
  color: #fff;
}
